/*********** PAGE ONE/LANDING PAGE ***********/

/* header */
header {
    padding-top: 1rem;
}

header svg {
    width: 2rem;
    border-radius: .375rem;
    color: white;
    margin-left: .75rem;
}

.index .header {
    justify-content: space-between;
}

header img {
    width: 1.75rem;
}

.landing-h1 {
    font-size: 1.728rem;
}

.text-center {
    flex-direction: column;
}

.button-container {
    margin-top: 1rem;
}

.button-container a:nth-of-type(1) {
    background-color: #9889E0;
    padding: .3rem 2rem;
    border-radius: .75rem 0 0 .75rem;
}

.button-container a:nth-of-type(2) {
    padding: .3rem 1rem;
    border-radius: 0 .75rem .75rem 0;
}

/* desktop nav menu */
.desktop-nav {
    display: none;
}

.desktop-nav>div>a>div>img {
    width: 1.25rem;
}

.btn {
    font-family: var(--font-sans-serif);
}

/* first section */
.section-one {
    background-color: #ffffff;
    background-color: #eee6e6;
    background-color: rgb(28, 31, 44);
    border-radius: 2rem;
    padding: 1.5rem;
    line-height: 1.5;
    flex-direction: column;
    gap: 1rem;
}

/* CSS ANIMATION */
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/* change div to whatever element you want to animate. */
.section-one::after,
.section-one::before {
    content: '';
    position: absolute;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
    background-color: red;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 2rem;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 4s spin linear infinite;
}

.section-one::before {
    filter: blur(2.5rem);
    opacity: .5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

/* .landing-h1 {
    overflow: hidden;
    animation: typing 2s steps(20) infinite alternate-reverse;
    width: 7ch;
}

@keyframes typing {

    0% {
        width: 0ch;
    }

    80% {
        width: 7ch;
    }

    100% {
        width: 7ch;
    }
} */

.landing-h1 {
    position: relative;
    width: 24em;
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.animation {
    animation:
        typewriter 4s steps(100) .25s 1 normal both;

}

/* For the typewriter width animation */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%; /* Animates to the full width of the text */
    }
}

.locally-hosted {
    position: relative;
    /* width: 24em; */
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.locally-hosted {
    animation:
        typewriter2 3s steps(150) 2.25s 1 normal both;

}

@keyframes typewriter2 {
    from {
        width: 0;
    }

    to {
        width: 50ch;
    }
}



.type-a-prompt {
    display: inline-block; 
    white-space: nowrap;
    overflow: hidden;
    /* width: 0; */
    border-right: 1px solid rgba(255, 255, 255, .75); 
    animation: 
        typing-loop 10s steps(40) 6s infinite, 
        blinking-cursor .75s step-end infinite;
}


@keyframes typing-loop {
    0% {
        width: 0;
    }
    28.5% {
        width: 16.5ch; 
    }
    100% {
        width: 16.5ch;
    }
}

@keyframes blinking-cursor {
    from, to { border-right-color: transparent; }
    50% { border-right-color: rgba(255, 255, 255, .75); }
}


.start-chatting {
    color: #fff;
    animation: colorful-glow 8s linear infinite;
}

@keyframes colorful-glow {
    0% {
        text-shadow: 0 0 5px rgba(255, 69, 69, 0.6), 
                     0 0 10px rgba(255, 69, 69, 0.6);
    }
    /* Green */
    25% {
        text-shadow: 0 0 5px rgba(0, 255, 153, 0.6), 
                     0 0 10px rgba(0, 255, 153, 0.6);
    }
    /* Blue */
    50% {
        text-shadow: 0 0 5px rgba(0, 106, 255, 0.6), 
                     0 0 10px rgba(0, 106, 255, 0.6);
    }
    /* Pink */
    75% {
        text-shadow: 0 0 5px rgba(255, 0, 149, 0.6), 
                     0 0 10px rgba(255, 0, 149, 0.6);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 69, 69, 0.6), 
                     0 0 10px rgba(255, 69, 69, 0.6);
    }
}

/* END OF CSS ANIMATION */

.section-one>div:nth-of-type(1) {
    margin-bottom: 1rem;
}

.section-one span,
.app main div section div span {
    background-color: #E56F6F;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    line-height: 2rem;
    margin-left: 1rem;
    flex-shrink: 0;
}

.section-one .flex-container:nth-of-type(2)>div {
    margin-right: 1rem;
    flex-shrink: 0;
}

.section-one .flex-container:nth-of-type(2)>div>img {
    width: 1.875rem;
}

.user-message-box p {
    background-color: #514c4e;
    background-color: rgb(69, 67, 67);
     color: rgb(149, 142, 142);
    /* user message bubble */
    padding: .5rem;
    border-radius: .375rem .375rem 0 .375rem;
}

.user-message-box {
    margin-bottom: 1rem
}

.mobile-chatbox .chat-container .ai-message-row {
    padding-right: 2rem;
}

.index .desktop-text {
    margin-right: 1rem;
}

.section-one div:nth-child(2) p {
    border-radius: 0 .375rem .375rem .375rem;
}

.desktop-input {
    border: 1px solid #4C3939;
    border-radius: 1.25rem;
    padding: .5rem 1.5rem;
    width: 100%;
}

.desktop-input>div>img {
    width: 1.75rem;
}

.mobile-chatbox>div {
    margin-bottom: 1rem;
}

.desktop-chatbox {
    display: none;
}

.desktop-chatbox>div {
    margin-bottom: 1rem;
}

.text-form>div,
.mobile-input {
    border: 1px solid #ffffff;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    gap: 1rem;
    width: 100%
}

.text-form>div>img {
    width: 1.5rem;
}

/*Desktop form input */
.desktop-form {
    display: none;
}

/* Footer */

footer {
    padding-bottom: 1rem;
}

.desktop-footer {
    display: none;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    border-radius: .375rem;
    padding: .35rem 0;
    color: white;
    font-size: 1.44rem;
}

/***************** APP PAGE /*****************/

/* header */
.app-chatbox {
    background-color: #eee6e6;
    border-radius: 2rem;
    padding: 1.5rem .5rem 0 .5rem;
    line-height: 1.5;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    box-sizing: border-box;
}

.app header img {
    width: 1.75rem;
}

/* main */
.app main>.inner-container {
    padding: 0 1rem;
}

.app-h1 {
    font-size: 1.44rem;
}

.chat-text {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    max-height: 60dvh;
    overflow-y: auto;
    padding: 0 1rem 0 1rem;
}

.app .ai-message-box {
    margin-right: 1rem;
}

.app .flow-icon {
    width: 1.875rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.desktop-text {
    display: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.mobile-chatbox .input-wrapper {
    display: none;
}

.form-input {
    background-image: url(../img/small-logo.png);
    background-repeat: no-repeat;
    background-size: 1.5rem;
    background-position: 1rem center;
    padding-left: 3rem;
    padding-right: 3.5rem;
    width: 100%;
}

.submit-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
}

.submit-btn svg {
    width: 1.5rem;
    stroke: rgb(6, 8, 63);
}

/* footer */
.app footer .inner-container {
    padding: 0 1rem;
}

footer .submit-btn svg {
    width: 1.5rem;
    stroke: #ffffff;
}

footer svg {
    width: 1.5rem;
    margin-left: .5rem;
}

/* Media queries - Landing page/App page/Max-view */

/* Landing page media queries */
@media (min-width: 600px) {

    /* reveal components */
    .desktop-form {
        display: block;
    }

    .desktop-form>div>img {
        margin-right: .5rem;
    }

    .mobile-form {
        display: none;
    }

    .desktop-nav {
        display: block;
        padding-bottom: 3rem;
    }

    .landing-h1 {
        font-size: 2.488rem;
    }

    .index .header {
        justify-content: center;
        /* visibility: hidden; */

    }

    .desktop-footer {
        display: block;
        max-width: 22rem;
    }

    header>div>nav>.inner-container {
        max-width: 900px;
    }

    .fs-lg {
        font-size: 2.986rem;
    }

    .fs-sm {
        font-size: 1.44rem;
    }

    /* main */
    .desktop-chatbox {
        display: block;
    }

    .mobile-chatbox {
        display: none;
    }

    .section-one div:nth-child(2) p {
        border-radius: .375rem .375rem 0 .375rem;
    }

    .button-container {
        display: none;
    }

    /* main::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 1rem);
        max-width: 950px;
        height: 480px;
        background-image: url(../img/gradient-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2rem;
        filter: blur(25px);
        z-index: -1;
    } */

    .section-one {
        /* background-color: #eee6e6; */
        /* padding: 1.5rem; */
        line-height: 1.5;
        flex-direction: column;
        gap: 1rem;
        position: relative;
    }
}

/* App page media queries */
@media (min-width: 600px) {
    header img {
        width: 2.5rem;
    }

    .app-h1 {
        font-size: 2.074rem;
    }

    .github-btn {
        padding: .5rem 1rem;
    }

    .mobile {
        display: none;
    }

    .mobile-text {
        display: none;
    }

    .desktop-text {
        display: block;
    }

    .mobile-input {
        display: none;
    }

    .app .mobile-chatbox {
        display: block;
        width: 100%;
    }

    .mobile-chatbox .input-wrapper {
        display: block;
    }

    .app footer {
        display: none;
    }
}

/* Media queries for the largest views */
@media (min-width: 1000px) {
    .landing-h1 {
        font-size: 2.986rem;
    }

    header img {
        width: 2.75rem;
    }
}
