:root {
    --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
        Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji";
    --color-bg: #0f172a;
    --color-text: #ffffff;
    --color-light: #f9fafb;

    --c1: #6366f1;
    --c2: #8b5cf6;
    --c3: #ec4899;
    --c4: #f59e0b;

    --c1-shadow: #6365f163;
    --c2-shadow: #8a5cf658;
    --c3-shadow: #ec489a57;
    --c4-shadow: #f59f0b56;
}

.github-btn {
    background-color: black;
    color: white;
    padding: .3rem 1rem;
    border-radius: .375rem;
    border: 1px solid white;
    position: relative;
    /* background: linear-gradient(135deg,purple, black ); */
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.4s ease;
    overflow: hidden;
}

.github-btn::before {
    content: '';
    position: absolute;
    inset: -5px;
    border-radius: .375rem;
    background: conic-gradient(from 0deg,
            var(--c1),
            var(--c2),
            var(--c3),
            var(--c4),
            var(--c1));
    z-index: -1;
    opacity: 0;
    filter: blur(12px);
    transform: rotate(0deg);
    transition: opacity 0.4s ease;
}

.github-btn:hover::before {
    opacity: 1;
    animation: rotate 2s linear infinite;
}

.github-btn:hover {
    transform: translateY(-2px);
    box-shadow:
        -4px -4px 26px var(--c1-shadow),
        4px -4px 26px var(--c2-shadow),
        -4px 4px 26px var(--c3-shadow),
        4px 4px 26px var(--c4-shadow);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



html {
    font-size: 100%;
    font-family: "Mona Sans", "Inter", sans-serif;
}

/* layout settings */
body {
    line-height: 1.5;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: rgb(6, 8, 63); /* Fallback color */
    
    /* The NEW gradient with intermediate colors for a smoother blend */
    background: linear-gradient(-135deg, #06083f, #1a1f78, #2b2fa1, #1a1f78, #06083f, #2b2fa1);
    
    background-size: 400% 400%; 
    animation: flowing-animation 30s ease-in-out infinite;
}

/* This animation part remains the same */
@keyframes flowing-animation {
    0% {
        background-position: 50% 0%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    min-height: 0;
    position: relative;
}

/* main::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4rem);
    max-width: 950px;
    height: 100%;
    background-size: cover; 
    background-image: url(../img/gradient-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    filter: blur(100px);
    z-index: -1;
} */


.inner-container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

/* Font size utility classes */
.fs-xxl {
    font-size: 4rem;
}

.fs-xl {
    font-size: 2.986rem;
}

.fs-lg {
    font-size: 2.488rem;
}

.fs-medlg {
    font-size: 2.074rem;
}

.fs-med {
    font-size: 1.728rem;
}

.fs-medsm {
    font-size: 1.44rem;
}

.fs-sm {
    font-size: 1.2rem;
}

.fs-xsm {
    font-size: 0.833rem;
}

/********** Font Weight Utility Classes **********/
.fw-bold {
    font-weight: 600;
}

/* Colour utility classes */
.white {
    color: white;
}

.gray {
    color: rgb(211, 201, 201);
    /* color: #808080; */
    color: rgb(178, 168, 168);
}

.purple {
    color: #9889E0;
}

.purple-header {
    color: #735ce3;
}

.bg-black {
    background-color: black;
}

.light-black {
    color: #4C3939;
}

/* alignment utility classes */
.text-center {
    text-align: center;
}

.justify-right {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-left {
    text-align: left;
}

.align-baseline {
    align-items: baseline;
}

.margin-auto {
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}


  <!-- Code generated by CSS Plasma Background Generator -->
  <!-- https://github.com/fracergu/css-plasma-background-generator -->
  <html>
  <body>
    <div class="wrapper">
      <div class="gradient gradient-1"></div>
      <div class="gradient gradient-2"></div>
      <div class="gradient gradient-3"></div>
    </div>
    <style>
      body {
        margin: 0;
        color: #fff;
        background-color: #000;
        padding: 0; 
      }

      .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        filter: blur(150px);
      }

      .gradient {
        position: absolute;
        border-radius: 100%;
        opacity: 0.6;
        mix-blend-mode: screen;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
      }

      
  .gradient-1 {
    background: rgb(255, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 700px;
    height: 700px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 60%;
    top: 40%;
    z-index: -2;
    animation-name: animation-gradient-1;
  }
  .gradient-2 {
    background: rgb(0, 255, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 600px;
    height: 600px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 40%;
    top: 60%;
    z-index: -1;
    animation-name: animation-gradient-2;
  }
  .gradient-3 {
    background: rgb(0, 0, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 500px;
    height: 500px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 50%;
    top: 50%;
    z-index: -3;
    animation-name: animation-gradient-3;
  }

      @keyframes animation-gradient-1 {
        0% {
          transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
        }
        25% {
          transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
            rotate(80deg) translateX(30%);
        }
        50% {
          transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
        }
        75% {
          transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
            rotate(240deg) translateX(15%);
        }
        100% {
          transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
        }
      }
      
      @keyframes animation-gradient-2 {
        0% {
          transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
        }
        25% {
          transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
            rotate(110deg) translateX(-5%);
        }
        50% {
          transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
        }
        75% {
          transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
            rotate(300deg) translateX(-10%);
        }
        100% {
          transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
        }
      }
      
      @keyframes animation-gradient-3 {
        0% {
          transform: translateY(-50%) translateX(-50%) translateX(-15%)
            translateY(10%);
        }
        20% {
          transform: translateY(-50%) translateX(-50%) translateX(20%)
            translateY(-30%);
        }
        40% {
          transform: translateY(-50%) translateX(-50%) translateX(-25%)
            translateY(-15%);
        }
        60% {
          transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
        }
        80% {
          transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
        }
        100% {
          transform: translateY(-50%) translateX(-50%) translateX(-15%)
            translateY(10%);
        }
      }

    </style>
  </body>
</html>